<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>채팅방</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.5/sockjs.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support
        Javascript! Websocket relies on Javascript being enabled. Please
        enable Javascript and reload this page!</h2>
</noscript>
<div id="main-content" class="container">
    <p>
        <div class="row">
            <div class="col-md-6">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="senderId">이름</label>
                        <input type="text" id="senderId" class="form-control input-sm" placeholder="이름을 적어주세요">
                    </div>
                </form>
            </div>
            <div class="col-md-6"  align="right">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="connect">채팅</label>
                        <button id="connect" class="btn btn-xs btn-danger" type="submit">ON</button>
                        <button id="disconnect" class="btn btn-xs" type="submit"
                                disabled="disabled">OFF
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </p>
    <div class="row">
        <div class="col-md-12">
            <div class="chat-panel panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-comments fa-fw"></i> Chat
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <ul class="chat" id="chat">
                    </ul>
                </div>
                <!-- /.panel-body -->
                <div class="panel-footer">
                    <form class="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm"
                                       placeholder="메세지를 적어주세요" autocomplete="off">
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-sm" id="btn-chat" type="submit">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.panel-footer -->
            </div>
        </div>
    </div>
</div>
</body>
<script src="Chat2.js"></script>
</html>