.usernameForm {
  border-width: 2px;
  color: black;
}
.usernameForm::placeholder {
  color: gray;
}
.msgForm {
  border-width: 2px;
  color: black;
}
.msgForm::placeholder {
  color: gray;
}
#connect {
  color: cornflowerblue;
}
#disconnect {
  color: crimson;
}
