.usernameForm {
  border-width: 2px;
  color: black;
}
.usernameForm::placeholder {
  color: gray;
}
.msgForm {
  border-width: 2px;
  color: black;
}
.msgForm::placeholder {
  color: gray;
}
#connect {
  color: cornflowerblue;
}
#disconnect {
  color: crimson;
}
.send-message-box {
  display: block;
  background-color: white;
  width: 75%;
  height: 10%;
  margin-bottom: 2.5%;
  margin-left: 2.5%;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  float: left;
  border: gray 1px solid;
}
.send-message-box::placeholder {
  color: rgb(128, 128, 128);
  font-style: italic;
}
.sendbutton {
  display: block;
  color: white;
  border-color: rgb(52, 110, 52) 2px solid;
  border: none;
  border-radius: 5px;
  background-color: rgb(52, 110, 52);
  width: 5vw;
  height: 5vh;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}
.chatBox {
  background-color: rgba(128, 128, 128, 0.575);
  width: 100%;

  height: 10vh;
  color: black;
}
.chatBoxContainer {
  /* background-color: green; */
  margin-left: 1%;
}
.chat {
  height: 100%;
  display: inline-block;
  width: 80%;
  border: 1px solid gray;
  white-space: pre-wrap;
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  font-weight: 700;
  color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
}
.chatInfoBox {
  margin: 10px;
  background-color: rgba(114, 114, 114, 0.274);
}
