.loginlogo {
  padding-top: 5%;
  max-width: 25%;
  height: 34px;
  display: block;
  margin: 0 auto;
}
.loginheader {
  margin-top: 60px;
  font-family: Slack-Larsseit, Helvetica Neue, Helvetica, Segoe UI, Tahoma,
    Arial, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 46px;
  max-width: 700px;
  text-align: center;
  letter-spacing: -0.75px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
}
.logintext {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;
  color: #454245;
  max-width: 700px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.googleloginbutton {
  text-align: center;
  display: block;
  background-color: #fff;
  border-radius: 3px;
  background: white;
  border: 2px solid #4285f4;
  color: black;
  margin-left: 30%;
  width: 40vw;
  box-sizing: border-box;
  box-shadow: none;
}

button {
  text-align: center;
  display: block;
  background-color: #fff;
  border-radius: 3px;
  background: white;
  border: 2px solid #4285f4;
  color: red;
  margin-left: 30%;
  width: 40vw;
  height: 44px;
  box-sizing: border-box;
  box-shadow: none;
}
.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #868686;
  font-size: 20px;
  font-family: NotoSansKR, Slack-Lato, appleLogo, sans-serif;
  font-weight: bold;
  margin: 8px 0px;
  width: 43%;
  margin: 0 auto;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}
input {
  display: block;
  margin: 0 auto;
  width: 38%;

  font-size: 18px;
  height: 44px;
  line-height: 1.33333333;
  padding-left: 10px;
}
.loginbutton {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: 44px;
  text-align: center;
  background-color: #4a154b;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 900;
  height: 44px;
  margin-bottom: 20px;
}
.log-subtext{
  display: flex;
  padding: 12px 24px;
  color: rgba(var(--sk_foreground_max_solid, 97, 96, 97), 1);
  background-color: rgba(var(--sk_primary_foreground, 29, 28, 29), 0.05);
  border-radius: 8px;
  box-sizing: inherit;
  width: 35%;
  display: block;
  margin: 0 auto;
  line-height: 20px;
  padding-left: 12px;
  font-weight: 15px;
  font-family: NotoSansKR, Slack-Lato, appleLogo, sans-serif;
  font-size: 15px;
  color: #1d1c1d;
  font-variant-ligatures: common-ligatures;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.log-subtext1{
  color: rgba(var(--sk_foreground_max_solid, 97, 96, 97), 1);
  font-size: 15px;
  color: #1d1c1d;

}
.log-subtext2 {
  font-size: 15px bold;
  font-weight: bolder;
  color: #1264a3;
  display:inherit;
  margin:0 auto;

}
.buttonText {
  font-size: 18px;
  color: #4285f4;
  font-weight: 800;
  text-align: right;
}
.mainfooter{
  display:flex;
justify-content: center;
}